<form action="/admin/room" method="post">   
    <div class="form-group">
        <label >Enter room type</label>
        <input type="text" id="type" name="type" class="form-control">
    </div> 
    <div class="form-group">
        <label >Enter room beds number</label>
        <input type="text" id="beds" name="beds" class="form-control">
    </div>      
    <div class="form-group">
        <label >Enter room capacity</label>
        <input type="text" id="capacity" name="capacity" class="form-control">
    </div>      
    <div class="form-group">
        <label >Enter room cost (per night)</label>
        <input type="text" id="cost" name="cost" class="form-control">
    </div>      
    <button type="submit" class="btn btn-info btn-lg btn-block">Add</button>                
</form>